<html>
  <head>
    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/black.css" id="theme">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css">
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="reveal">
      <div class="slides">

        <section>
          <h3>
            Django, как и какво да (не) оптимизираме
          </h3>
        </section>

        <section>
          <img src="img/jj.jpg" height="50%"><br>
          <h3>Йордан Джамбазов</h3>
          Founder / Програмист @ IO Era
        </section>

        <section>
          Какво може да се оптимизира?<br>
        </section>

        <section>
          <ul>
            <li>качеството на кода</li>
            <li>използването на памет</li>
            <li>оползотворяването на CPU</li>
            <li>...</li>
            <li>програмистско време</li>
          </ul>
        </section>

        <section>
          Което може да се измери
        </section>

        <section>
          Оптимизация - модификация с цел подобряване ефективността
        </section>

        <section>
          Цел: получаване на оптимална система
        </section>

        <section>
          <ul>
            <li>Универсална оптимизация няма</li>
            <li>Напълно оптимална система няма</li>
            <li>Оптимизациите понякога изискват <i>trade-off</i></li>
          </ul>
        </section>

        <section>
          <h1>Какво означава Performance?</h1>
          <ul>
            <li>throughput (заявки/секунда)</li>
            <li>response time (от заявка до отговор)</li>
            <li>render time</li>
            <li>стабилност</li>
          </ul>
        </section>

        <section>
          <h1>Scalability?</h1>
          Да се справяме с повече трафик.
        </section>

        <section>
          <ul>
            <li>Вертикално - по-силен хардуер</li>
            <li>Хоризонтално - повече хардуер</li>
          </ul>
        </section>

        <section>
          <img src="img/django-logo.png">
        </section>

        <section>
          Може ли Django да скалира?
        </section>

        <section>
          Само по себе си - не.
        </section>

        <section>
          <img src="img/logos/redis.png">
          <img src="img/logos/nginx.gif">
          <img src="img/logos/postgresql.png">
          <img src="img/logos/memcached.png">
          <img src="img/logos/haproxy.png">
          <img src="img/logos/aws.png">
        </section>

        <section>
          <h1>High-level Framework</h1>
          <img src="img/trust-me.jpg"/>
        </section>

        <section>
          <img src="img/know-your-tools.jpg" />
        </section>

        <section>
          Спонтанната оптимизация води до спонтанни резултати.
        </section>

        <section>
          <h1>Не предполагай</h1>
        </section>

        <section>
          <h1>Profile first:</h1>
          <ul>
            <li>Django Debug Toolbar</li>
            <li>django-silk</li>
            <li>cProfile (django-cprofile-middleware)</li>
          </ul>
        </section>

        <section>
          <h1>Познавай ORM-a</h1>
        </section>

        <section>
          <pre>
            <code class="python">
class Author(models.Model):
    name = CharField()

class Book(models.Model):
    title = CharField()
    author = ForeignKey(Author)
            </code>
          </pre>
        </section>

        <section>
          <pre><code class="django">
{% for book in books %}
    {{ book.author.name }} // допълнителна заявка
{% endfor %}
          </code></pre>
        </section>

        <section>
          <pre><code class="python">
Book.objects.select_related('author').all()
Author.objects.prefetch_related('book_set').all()
          </code></pre>
        </section>

        <section>
          Използвай .count()
          <pre><code class="python">
books = Book.objects.all()
books.count()  # бързо
len(books)  # по-бавно
{{ books|length }}  # още по-бавно
          </code></pre>
        </section>

        <section>
          Не използвай .count()
          <pre><code class="django">
{% if books %}
  <p>Number of books: {{ books|length }}</p>
  <ul>
  {% for book in books %}
    <li>{{ book.title }}</li>
  {% endfor %}
  </ul>
{% endif %}
          </code></pre>
        </section>

        <section>
          Добавяй индекси:
          <pre><code class="python">
class Book(models.Model):
    title = CharField(db_index=True)
    author = ForeignKey(Author)
          </code></pre>
          Ускоряват четенето: filter(), exclude(), order_by()
        </section>

        <section>
          <h1>Сортирането не е безплатно</h1>
          <pre><code class="python">
class Book:
    ...
    class Meta:
        ordering = ['title']

Book.objects.all()
Book.objects.all().order_by()  # премахва сортирането на QuerySet-a
          </code></pre>
        </section>

        <section>
          Не добавяй индекси. Забавят писането.
        </section>

        <section>
          <h1>Познавай базата</h1>
          <ul>
            <li>Оптимизирай заявките</li>
            <li>indexes</li>
            <li>Репликиране (master/slave, leader/follower, primary/replica)</li>
          </ul>
        </section>

        <section>
          <h1>Caching</h1>
        </section>

        <section>
          <h1>Кеширай - колкото се може повече</h1>
          <ul>
            <li>Мемоизирай - (django.utils.lru_cache)</li>
            <li>Кеширай QuerySet - (django-cacheops, django-cache-machine)</li>
            <li>Кеширай темплейтите</li>
            <li>Кеширай целия HTML Response (Varnish, Squid, nginx)</li>
          </ul>
        </section>

        <section>
          <h1>Не кеширай</h1>
          <blockquote>
There are only two hard things in Computer Science: cache invalidation and naming things.
-- Phil Karlton
          </blockquote>
        </section>

        <section>
          <h1>Използвай Django-Compressor</h1>
          <ul>
            <li>Minify-ва CSS и JS файловете</li>
            <li>Предоставя интеграция с CDN</li>
            <li>Директно се интегрира в темплейтите</li>
          </ul>
          <pre><code class="django">
{% load compress %}
{% compress css %}
<link href="{% static 'css/main.css' %}"/>
{% endcompress %}
          </code></pre>
        </section>

        <section>
          <h1>Не използвай Django-Compressor</h1>
          <pre><code class="django">
{% load compress %}
{% compress js %}
// Ще мине development
// ... най-вероятно и staging
// ... на production - 500 (при offline compression mode)
var someVariable = {{ some_variable|safe }};
{% endcompress %}
          </code></pre>
        </section>

        <section>
          <h1>Deployment</h1>
          <ul>
            <li>mod_wsgi</li>
            <li>uwsgi</li>
            <li>gunicorn</li>
          </ul>
        </section>

        <section>
          <h1>uWSGI developers are fu*!ing cowards</h1>
          <p>
            Both David Cramer and Graham Dumpleton asked why --thunder-lock is
            not the default when multiprocess + multithread is requested.
          </p>
          <p>
            This is a good question with a simple answer: we are cowards who
            only care about money.
          </p>
        </section>

        <section>
          <pre><code>"DAMN ! worker 5 (pid: 9531) died :( trying respawn ..."</code></pre>
        </section>

        <section>
          Не вярвай на дефинитивни твърдения
        </section>

        <section>
          Не решавай проблеми, които нямаш.
        </section>

        <section>
          Заобичай Django документацията:<br>
          <ul>
            <li>Performance and Optimization: http://docs.djangoproject.com/en/1.10/topics/performance/</li>
            <li>Database access optimization: https://docs.djangoproject.com/en/1.10/topics/db/optimization/</li>
            <li>Caching: https://docs.djangoproject.com/en/1.10/topics/cache/</li>
            <li>..</li>
          </ul>
        </section>

        <section>
          <img src="img/high-performance-django.jpg">
        </section>

        <section>
          "Premature optimization is the root of all evil"<br>Donald Knuth
        </section>

        <section>
          <h1>Q&amp;A</h1>
        </section>

      </div>
    </div>
    <script src="js/reveal.js"></script>
    <script src="lib/js/head.min.js"></script>
    <script>
      Reveal.initialize({
        dependencies: [
          {
            src: 'plugin/highlight/highlight.js',
            async: true,
            callback: function() {
              hljs.initHighlightingOnLoad();
            }
          },
        ]
      });
    </script>
  </body>
</html>
=
